@import "./config/variables.scss";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@media screen and (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

select,
input,
button,
textarea {
  font-family: "Noto Sans", sans-serif !important;
}

.container {
  // background-color: pink;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
