@import "./config/variables.scss";

@media screen and (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

select,
input,
button,
textarea {
  font-family: "Noto Sans", sans-serif !important;
}

.container {
  // background-color: pink;
  max-width: 1280px;
  margin: 0 auto;
}
