@import "../../../config/variables.scss";

#section04 {
  min-height: 640px;
  padding: 120px 0;
  background: #fff;
  overflow: hidden;

  .point_img {
    position: absolute;
    top: 0;
    right: 30px;
    width: 300px;
    height: 300px;
    z-index: 1;
  }
}

@media screen and (max-width: 1280px) {
  #section04 {
    .container {
      padding: 0 14px;
    }
		
    .point_img {
      display: none;
    }
  }
}

@media screen and (max-width: 1080px) {
  #section04 {
    padding: 60px 0;
  }
}
